<% include ../partials/header.ejs %>

<body>
	<div class = "nav-bar">
		<a href="/"><img src="../css/icons/nav-logo.png"></a>
		<a href="/users">All Users</a><span>
		<a href="/users">Log Out</a>
	</div>
	
	<div id="recipe-header"><h1>All Recipes<img id="recipe-logo" src="../css/icons/icon-81672.png"></h1>
	</div>

	
	<div id="recipes-container">
		<ul>
			<% for(var i = 0; i < recipes.length; i++){ %>
				<li>
					<h2><a href="/recipes/<%=recipes[i]._id%>"><%=recipes[i].name%></a></h2>
					<img id="food-img" src="<%=recipes[i].img%>">
						<p>
							<button class="like-button" value="<%=recipes[i].id%>"></button>
							<span class="like-count" style="padding:0;"><%=recipes[i].like%></span>
						</p>

	   		</li>
		  <% } %>
		 </ul>
	</div>

	<script type="text/javascript">
	$('.like-button').on('click', function(){
		var recipe_id = $(this).attr('value');
		var span = $(this).next();
		$.post( "/recipes/"+recipe_id+"/like?_method=PUT", function( data ) {
			var likeTotal = span.text();
			span.text(parseInt(likeTotal) + 1);
		});
	})
	</script>

</body>
</html>