<% include ../partials/header.ejs %>

<body>
	<div class = "nav-bar">
		<a href="/recipes">All Recipes</a>
	</div>

	<div id = "recipe-show">
		<h3><%=recipe.name%></h3><br>
		<img id ="cooktime-logo" src="../css/icons/icon-81104.png"><h4><%=recipe.cooktime%> mins</h4><br>
		<p><%=recipe.ingredients%></p><br>
		<p><%=recipe.steps%></p><br>
		<img id="food-img" src="<%=recipe.img%>">

 	 <form action = "/recipes/<%=recipe.id%>/like?_method=PUT" method="POST">
		 	<button class="like-button"></button><%=recipe.like%>
 	 </form>
	</div>


	<% if (loggedIn && usertrue == true) { %> 
		<a id ="edit-button" href="/recipes/<%=recipe._id%>/edit">Edit This Product</a>
	<% } %>



</body>
</html>
